@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  color: #422919;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.btn {
  background-color: #dd807d63;
  font-size: 1rem;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border: solid 0.2px;
  border-radius: 0.8rem;
  padding: 5px 10px;
}
.btn:hover {
  background-color: #ffffff;
  border-color: #dd807df8;
  color: #dd807df8;
  font-size: 1rem;
  border: all 0.1px;
}
